{% extends 'base.html' %}

{% block content %}

<h1 class='text-center text-secondary mt-4 p-2'> Gerar grupos</h1>
<hr>
<div class="p-5">
  <form action="{% url 'makeGroups' %}">

    {% if patient_list_notExport %}
    <h6>Existem {{patient_list_notExport}} registros sem exportar.</h6>
    <button type="submit" value="Submit" style="width: 100%;"
      class="btn btn-primary mt-4 mb-4 shadow pt-3 pb-4 pl-1 pr-1">Criar grupos
    </button>
    {% else %}<h6>Sem registros para gerar grupos.</h6>
    {% endif %}

  </form>

  <h1 class='text-center text-secondary mt-4 p-2'>Grupos para Validar</h1>
  <hr>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" id="myInput" placeholder="Pesquisar" aria-label="Pesquisar">
    </form>
  </nav>

  {% if dataPatients %}

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class='table-secondary' scope="col" data-toggle="tooltip" title="NumeroClassificacao">Numero do Grupo sem Classificação</th>
          <th class='table-secondary' scope="col" data-toggle="tooltip" title="NumeroClassificacao">Numero de Pacientes por Grupo</th>
          <th class='table-secondary' scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="myTable">


        {% for data in dataPatients %}
        <tr>
          <th scope="row">{{ data.validationNumber }}</th>
          <td>{{ data.countPatient }}</td>
          <td>

            <a href="{% url 'validation' data.validationNumber %}" class="btn btn-danger m-1"> Avaliar </a>

          </td>

        </tr>

        {% endfor %}

        {% else %}

        <h6>Sem grupos para validar</h6>

        {% endif %}

      </tbody>
    </table>

  </div>
  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

</div>

{% endblock  %}
