{% include 'base.html' %}
{% block content  %}
<div class="container">

    <h1 class='text-center mt-3'>Resultado</h1>
    <hr>
    <h4 class='text-center text-secondary'>O resultado da classificação do <b>{{ patient }}</b> é classificação <b>{{ classification_result }}</b></h4>
    
    <h1 class='text-center text-black mt-4 p-2'> Database</h1>
    <hr>

    <div class='container p-2'>

            <table class="table p-2 shadow rounded">
            <thead>
                <tr>
                <th class='table-success' scope="col">Id</th>
                <th class='table-success' scope="col">patient</th>
                <th class='table-success' scope="col">age</th>
                <th class='table-success' scope="col">neurological</th>
                <th class='table-success' scope="col">cardiovascular</th>
                <th class='table-success' scope="col">respiratory</th>
                <th class='table-success' scope="col">coagulation</th>
                <th class='table-success' scope="col">hepatic</th>
                <th class='table-success' scope="col">renal</th>
                <th class='table-success' scope="col">icc</th>
                <th class='table-success' scope="col">ecog</th>
                <th class='table-success' scope="col">classification</th>
                </tr>
            </thead>
            <tbody>

                {% if patient_records %}

                    {% for data in patient_records %}
                        <tr>
                            <th scope="row">{{ data.id }}</th>
                            <td>{{ data.patient }}</td>
                            <td>{{ data.age  }}</td>
                            <td>{{ data.MeaningNeurological }}</td>
                            <td>{{ data.MeaningCardiovascular }}</td>
                            <td>{{ data.MeaningRespiratory  }}</td>
                            <td>{{ data.MeaningCoagulation }}</td>
                            <td>{{ data.MeaningHepatic }}</td>
                            <td>{{ data.MeaningRenal }}</td>
                            <td>{{ data.MeaningIcc }}</td>
                            <td>{{ data.MeaningEcog }}</td>
                            <td>{{ data.classification }}</td>

                        </tr>

                    {% endfor %}   

                {% else %}

                    <p>No Data in The Database so Far!</p>     

                {% endif %}
                    
            </tbody>
        </table>

    </div>

    <a class='btn btn-primary mt-4 p-1 text-center' href="{% url 'home' %}">Go Back</a>
</div>
{% endblock content  %}