<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Medical Decision Support</title>

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900" rel="stylesheet">
</head>

<body>
    <h1> Medical Decision Support</h1>
    <div class="boards">
        <div class="board">
            <h3>Todo</h3>
            <div class="dropzone">
                <div class="card" draggable="true">
                    <div class="content"> Patrique Silva</div>
                </div>
                <div class="card" draggable="true">
                    <div class="content">João da Silva!</div>
                </div>
                <div class="card" draggable="true">
                    <div class="content">Denis Almeida</div>
                </div>
                <div class="card" draggable="true">
                    <div class="content">Pedro Wondrasseck</div>
                </div>
                <div class="card" draggable="true">
                    <div class="content">Mário Rodrigues</div>
                </div>
            </div>
        </div>
        <div class="board">
            <h3>Classificação Médica</h3>
            <div class="dropzone">

            </div>
        </div>
        <div class="board">
            <h3>Done</h3>
            <div class="dropzone">

            </div>
        </div>
    </div>

    <script src="script.js" defer></script>

</body>

</html>